* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-image:url(images/bg-curvy-desktop.svg);
    background-repeat: no-repeat;
    background-position:bottom;
    background-size: contain;
    border:1px solid red;
    height:100vh;
    background-color:hsl(217, 28%, 15%);
    color:white;
    font-family: 'Open Sans', sans-serif;



}







/* Navigation */
.nav {
    color:white;
    background-color:hsl(217, 28%, 15%);
    display:flex;
    align-items: center;
    height:9vh;
    font-family: 'Raleway', sans-serif;
    font-size:14px;
}
.nav > img {
    height: 6vh;
    padding-left:7vw;
}
.nav > ul {
    display:flex;
    list-style:none;
    align-items: center;
    justify-content: flex-end;
    width:100%;
    gap:35px;
    padding-right:7vw;
}